
.deck{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border: solid black 2px;
    border-radius: 1%;
    background-color: gray;
    width: auto;
    height: auto;
    margin: auto; 
}
 
.card{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1%;
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.score-panel{
    display: block;
    background-color: aquamarine;
    height: 50px;
    margin-bottom: 10px;
}

.score-panel div{
    position: relative;
    display: inline-flex;
}

.card.active { 
    background-color: blue;
}

.card.active p {
    visibility: hidden;
}

.card.active.in-play {
    visibility: visible;
    background-color: red;
}

.card.active.in-play p {
    visibility: visible;
    background-color: red;
    align-content: center;
}

.card.matched{
    visibility: visible;
    background-color: red;
}

.card.matched p{
    visibility: visible;
    background-color: red;
}