header h1 {
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 7px;
}

.deck{
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
 
.card{
    display: inline-flex; 
    flex-wrap: wrap;
    border: border-box;
    align-items: center;
    margin: 1%;
    height: 125px;
    width: calc(25% - 2%);
    cursor: pointer;
}

/* SCORE PANEL */

.score-panel{
    background-color: aquamarine;
    height: 50px;
    margin-bottom: 4px;
    position: relative;
}

.score-panel div{
    display: inline-flex;
    left: 33%;
    top: 7px;
}

.score-panel div.button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card.active { 
    background-color: blue;
}

/* CARD STATES */

.card.active p {
    position: relative;
    visibility: hidden;
    top: 30%;

}

.card.active.in-play {
    visibility: visible;
    background-color: red;
    font-size: 2rem; 
}

.card.active.in-play p {
    visibility: visible;
    background-color: red;
    align-content: center;
    padding-right: .5em;
    padding-left: .5em;
}

.card.matched{
    visibility: visible;
    background-color: red;
    font-size: 2rem;
}

.card.matched p{
    position: relative;
    top: 30%;
    visibility: visible;
    background-color: red;
    padding-right: .5em;
    padding-left: .5em;
}



